{# partials/footer.html #}

<a href="/">Central Oregon Resource Index</a><br>
    <span>Developed and maintained by <a href="https://arthurktripp.com" target="_blank">Arthur Tripp</a></span><br>
    <span>Your privacy is respected on this website. Please read the <a href='/privacy'>Privacy Policy</a> for more info.</span><br><br>
<a href="https://www.w3.org/WAI/WCAG2A-Conformance"
   title="Explanation of WCAG 2 Level A Conformance">
  <img height="32" width="88"
       src="https://www.w3.org/WAI/WCAG22/wcag2.2A"
       alt="Level A conformance,
            W3C WAI Web Content Accessibility Guidelines 2.2">
</a>
