{# templates/about.html #}

{% extends "base.html" %}

{% block body %}

<div class="card shadow page-title">
<h1>About CORI</h1>
</div>


<div id='about-main' class='card shadow block'>    
    <p>
        Central Oregon Resource Index (CORI) exists to make it easier to find and support the people and organizations doing good in our region.
    </p>
    <p>
        CORI has two core goals:
        <ol>
            <li>To connect people in need with local services and resources.</li>
            <li>To connect people who want to give money, time, or goods to trusted local causes.</li>
        </ol>
    </p>
    <p>Finding help shouldn't be hard, but for many in Central Oregon, it can be surprisingly difficult to know where to turn. CORI makes it easier by gathering reliable, up-to-date information about the programs and nonprofits already working hard in our communities.
    </p>
    <p>On the other side, people who want to help often face a similar challenge: they want to give back, but don't know which organizations to trust or how to make the biggest impact. CORI highlights local groups doing essential work so your support can go exactly where it's needed most.
    </p>
    <p>At its heart, CORI is a community resource. We're here to bridge gaps and strengthen the connections that already exist in Central Oregon. Whether you're looking for help, hoping to help, or just curious about what's out there, you're in the right place.
    </p>
</div>


{% endblock %}