{# templates/privacy.html #}

{% extends "base.html" %}

{% block body %}
<div class="card shadow page-title">
    <h1>Privacy Policy</h1>
</div>
    

<div id="contact-main" class="card shadow block">
    <p>We respect your privacy and are committed to protecting any information you share with us.</p>

    <h2>Website Analytics</h2>
    <p>Central Oregon Resource Index uses <a href='https://www.goatcounter.com/'>GoatCounter</a> to understand how this website is used. This is a privacy-centric service that tracks aggregated statistics that are not associated with any specific user. This is important for us to understand how the site is being used, how users find it, and where users go from here. Information that is collected includes:</p>
    <ul>
        <li><strong>Referring website:</strong> It is important to understand where users find the site.</li>
        <li><strong>Services filters and pageviews:</strong> We need to know what services people need, or are most interested in.</li>
        <li><strong>Ad Campaigns:</strong> Knowing what advertising works (and what doesn't work) allows us to spend our shoestring budget effectively.</li>
        <li><strong>Location:</strong> This is a generalized location, but is important in making sure that we're reaching people in Central Oregon.</li>
        <li><strong>Browser, screen size, system:</strong> This helps us to ensure that the website works for all users.</li>
    </ul>
    <p>We do not and will not:</p>
    <ul>
        <li>Use cookies.</li>
        <li>Track IP addresses.</li>
        <li>Collect personally identifiable information.</li>
        <li>Make any attempt to "fingerprint" our users.</li>
        <li>Sell user data.</li>
    </ul>
    <p>Our only use for analytics is to improve the site and how we reach people.</p>

    <h2>Form Submissions</h2>
    <p>When you fill out a contact form, the information is sent directly to a secure email inbox, and is preserved temporarily in a log. Details from spam bots are recorded and sent to registries that track IP addresses used by bad actors.</p>
    <ul>
        <li>We collect only the information you voluntarily provide (e.g., name, email, and message).</li>
        <li>Your submission is used solely to respond to your inquiry.</li>
        <li>We do not share your message or contact information with third parties, and we do not use it for marketing.</li>
        <li>Messages are stored securely and can be deleted upon request.</li>
    </ul>
    <p>This policy only applies to the CORI website, and does not extend to any other site, including those that we link out to. If you have any questions about this policy, feel free to reach out through the <a href="/contact">contact form</a>.</p>

</div>

{% endblock %}